body {
    font-family: 'Merriweather Sans', sans-serif;
    background-color: #F2D653;
    color: #37424A;
}

.container-title{
    margin-top: 20em;
}

.container-academic{
    margin-top: 10em;
}
.container-title h1{
    font-family: 'Yeseva One', sans-serif;
    font-size: 5.5em;
    width: 370px;
    letter-spacing: -0.04em;
    line-height: 1.1em;
    display: inline-block;
    vertical-align: top;
}
.container-title .info{
    text-align: justify;
    font: 300 0.8em/1.625em 'Merriweather Sans', Helvetica, sans-serif;
    width: 390px;
    margin: 0 0 20px 25px;
    display: inline-block;
    padding-top: 1.2em;
  
}
h2 {
    text-align: center;
    font-family: 'Yeseva One', sans-serif;

}
