body {
    font-family: 'Merriweather Sans', sans-serif;
    background-color: #f2d653;
    color: #37424A;
}

.container-title{
    margin-top: 15em;
    margin-left: 50%
}

.container-academic{
    margin-top: 5em;
    margin-left: 50%
}

.container-title h1{
    font-family: 'Yeseva One', sans-serif;
    font-size: 5.5em;
    width: 370px;
    letter-spacing: -0.04em;
    line-height: 1.1em;
    /* display: inline-block; */
    vertical-align: top;
}
.container-title .info{
    text-align: justify;
    font: 300 0.8em/1.625em 'Merriweather Sans', Helvetica, sans-serif;
    width: 390px;
    margin: 0 0 20px 25px;
    display: inline-block;
    padding-top: 1.2em;
  
}
/* h2 {
    text-align: center;
    font-family: 'Yeseva One', sans-serif;

} */

p {
    text-align: center;
}

h4 {
    text-align: center;
}
.book {
    background: url("./files/book-open-variant.svg");
    height: 25px;
    width: 25px;
    /* display: block; */
}

.school {
    background: url("./files/school.svg");
    height: 25px;
    width: 25px;
    /* display: block; */
}

.tennis {
    background: url("./files/tennis.svg");
    height: 25px;   
    width: 26px;
    display: inline-block;
}

.music {
    background: url("./files/music-note-outline.svg");
    height: 25px;   
    width: 25px;
    display: block;
}