body {
    font-family: 'Merriweather Sans', sans-serif;
    background-color: #f2d653;
    color: #37424A;
}


.container-academic{
    margin-top: 5em;
    /* margin-left: 50% */
}

.container-hobbies{
    margin-top: 5em;
    /* margin-left: 50% */
}


hr{
	border-top: 4px double #8c8b8b;
	text-align: center;
}
hr:after {
	content: '\002665';
	display: inline-block;
	position: relative;
	top: -15px;
	padding: 0 10px;
	background: #f2d653;
	color: #8c8b8b;
	font-size: 18px;
}
.row h1{
    font-family: 'Yeseva One', sans-serif;
    font-size: 5.5em;
    width: 370px;
    letter-spacing: -0.04em;
    line-height: 1.1em;
    /* display: inline-block; */
    vertical-align: top;
}
.info{
    font: 350 0.9em/1.625em 'Merriweather Sans', Helvetica, sans-serif;
    width: 100%;
    text-align: left;
    /* marginb: 0 0 20px 25px; */
    /* display: inline-block; */
    /* padding-top: 1.2em; */
  
}
h2 {
    text-align: center;
    font-family: 'Yeseva One', sans-serif;

}

p {
    text-align: center;
}

h4 {
    text-align: center;
}
